@model AspMvcStarter.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}


<div class="row">
    <br />
    <div class=" col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
        @if (ViewBag.Status == "success")
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Your password has successfully been changed
            </div>
        }

        @if (ViewBag.Status == "error")
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                The Current Password is incorrect
            </div>
        }

        <div class="login_page">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Change Password
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("changepassword", "Account"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>current passsword :</label>
                                    @Html.PasswordFor(model => model.CurrentPassword , new  {@class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CurrentPassword ,"", new { @class = "text-danger" })
                                    <a href="/account/forgotpassword">Forgot your password ?</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>new passsword :</label>
                                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>confrim passswod :</label>
                                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Change Password"  class="btn btn-success btn-block" />
                    }
                </div>
            </div>


        </div>
    </div>

</div>
