@model AspMvcStarter.Models.NewPasswordViewModel

@{
    ViewBag.Title = "NewPassword";
}

<div class="row">
    <br />
    <div class="container col-md-4 col-md-offset-4">
        <div class="panel panel-default ">
            <div class="panel-heading text-center">
                Choose a new password
            </div>
            <div class="panel-body">
                <div class="">
                    <div>

                        @using (Html.BeginForm("Newpassword", "Account"))
                        {@Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label>New Password</label>
                                        @Html.PasswordFor(model=>model.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model=>model.Password, "", new { @class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label>New Password</label>
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.HiddenFor(model => model.username, new { @class = "form-control", @value = ViewBag.username  })
                                    </div>
                                </div>


                            </div>

                            <input type="submit" value="Reset Password"  class="btn btn-success btn-block" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

